{{#each item}}
<li class="list-group-item">
    <img src="{{ imgSrc }}">
    <p class="list-group-item__userName">{{ userName }}
        <span class="timePoint">{{ date }}</span>
    </p>
    <p class="message-text">{{ message }}</p>
</li>
{{/each}}



{{!-- {{#each list}}
<div class="name">{{ name }} {{ last_name }}</div>
{{/each}} --}}